.nav-pills .nav-link.active {
    background-color: #ffb600 !important;
}

.navbar-toggler:focus {
	outline-color: #ffb600 !important;
	box-shadow: 0px 0px 0 0.25rem #ffb600 !important;
}

.nav-btn { 
	width: 100% !important;
}

.row-content {
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}

.with-back-img {
	background-image: url(../images/webp/main-img.webp);
	background-size: cover;
}

.image-border {
	border-style: solid !important;
	border-color: #ffb600 !important;
	border-width: 8px !important;
}

.opaque-back {
	background: rgba(0, 0, 0, 0.4);
}

.row {
	--bs-gutter-x: 0px !important;
}

.bg-black {
	background-color: #101010;
}
.bg-grey {
	background: rgba(0, 0, 0, 0.2);
}
.bg-yellow {
	background-color: #ffb600;
}

.text-yellow {
	color: #ffb600 !important;
}
.text-black {
	color: #101010 !important;
}
.text-gray {
	color: #777777 !important;
}
.text-flutter {
	color: #40a0ee !important;
}
.text-vue {
	color: #3fb27f !important;
}
.text-react {
	color: #08d8fd !important;
}
.text-java {
	color: #ed2025 !important;
}
.text-npm {
	color: #c13534 !important;
}
.text-node {
	color: #7cc327 !important;
}

.icon-small {
	font-size: 130%;
}

.icon-med {
	font-size: 500%;
}

.color-whatsapp {
	color: #3fbe4f !important;
}
.color-facebook {
	color: #0e8cf1 !important;
}
.color-linkedin {
	color: #0270ad !important;
}
.color-github {
	color: #24292e !important;
}
