.row-content {
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}

.with-back-img {
	background-image: url(../images/main-img.jpg);
	background-size: cover;
}

.opaque-back {
	background: rgba(0, 0, 0, 0.4);
}

.row {
	--bs-gutter-x: 0px !important;
}

.bg-black {
	background-color: #101010;
}
.bg-grey {
	background: rgba(0, 0, 0, 0.2);
}
.bg-yellow {
	background-color: #ffb600;
}

.text-yellow {
	color: #ffb600 !important;
}
.text-black {
	color: #101010 !important;
}

.icon-small {
	font-size: 130%;
}

.icon-med {
	font-size: 500%;
}

.color-whatsapp {
	color: #3fbe4f !important;
}
.color-facebook {
	color: #0e8cf1 !important;
}
.color-linkedin {
	color: #0270ad !important;
}
.color-github {
	color: #24292e !important;
}
